<p>Emphasis, aka italics, with <em>asterisks</em> or <em>underscores</em>.</p>
<p>Combined emphasis with <strong>asterisks and <em>underscores</em></strong>.</p>
<p>Emphasis with <strong>type <em>underscores</em></strong>. Emphasis with <strong>type <em>asterisks</em></strong>.</p>
<p>and _ this should not be _ emphasized 1</p>
<p>and _this should not be_ emphasized 2</p>
<p>and *this should not be* emphasized 3</p>
<p>and * this should not be * emphasized 4</p>
<p>and ** another one ** here</p>
<p>and __ another one __ here</p>
<p>have this <em>italic</em> text and <em>this one</em> on the same <em>line</em>.</p>
<p>have this <em>italic</em> text and <em>this one</em> on the same <em>line</em>.</p>