<p>Go on gitlab and <a href="https://gitlab.com/profile/personal_access_tokens" title="generate access token" target="_blank">generate access token</a></p>
<p>Go on gitlab again and <a href="https://gitlab.com/profile/personal*access*tokens" title="generate access token again" target="_blank">generate access token again</a></p>
<p>this is my url <a href="http://wallpaper.sc/en/ipad/wp-content/uploads/2014/10/ipad-2048x2048-thumbnail_00843-256x256.jpg" title="see an image" target="_blank">see an image</a></p>
<p><a href="http://wallpaper.sc/en/ipad/wp-content/uploads/2014/10/ipad-2048x2048-thumbnail_00843-256x256.jpg" title="see an image" target="_blank">see an image</a></p>
<p><a href="http://wallpaper.sc/en/ipad/wp-content/uploads/2014/10/ipad-2048x2048-thumbnail_00843-256x256.jpg" title="" target="_blank">http://wallpaper.sc/en/ipad/wp-content/uploads/2014/10/ipad-2048x2048-thumbnail_00843-256x256.jpg</a></p>
<p>Go on gitlab and <a href="https://gitlab.com/profile/personal_access_tokens" title="generate access token" target="_blank">generate access token</a></p>
<p><a href="/local/url" title="local url">local url</a></p>
<p>Go on gitlab again and <a href="https://gitlab.com/profile/personal*access*tokens" title="generate access token one more time" target="_blank">generate access token one more time</a></p>
<p><a href="/hello/world.php" title=""><strong>bold text</strong></a></p>
